 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 
 body {
    background-image: url(./black-white-background.jpg);  
 background-size: cover;       /* Makes the image fill the page */
  background-position: center;  /* Keeps it centered */
  background-repeat: no-repeat;  
  height: 100vh;
 }



